@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Manrope', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  flex-direction: column-reverse;
  display: flex;
  font-family: 'Manrope', sans-serif;
  position: relative;
  padding-bottom: 1%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  text-align: center;
  border-style: outset;
  border-width: 15px;
  border-color: #66FF33;
}

.contact {
  font-family: 'Manrope', 'sans-serif';
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

.contact:hover {
  color: #FF00CC;
}

.footer a:visited {
  color: #000066;
}
