@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');


body {
  min-height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  margin-bottom: -70px;
}

.app-inside {
  padding: 20px;
  padding-bottom: 70px;
  align-content: center;
}

.footer {
  display: flex;
  font-family: 'Manrope', sans-serif;
  position: fixed;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  height: 70px;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-top: -70px;
  text-align: center;
  border-bottom: outset;
  border-right: outset;
  border-width: 20px;
  border-color: #66FF33;
}

.contact {
  font-family: 'Manrope', 'sans-serif';
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-size: 3vw;
  font-weight: bold;
}

.contact:hover {
  color: #FF00CC;
}

.footer a:visited {
  color: #000066;
}
