@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.container-contact {
  display: flex;
  font-family: 'Manrope', 'sans-serif';
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25%;
  margin-bottom: -70px;
  flex-wrap: wrap;
  flex-direction: column;
  color: #000066;
  width: max-content;
  justify-content: center;
}

.contact-div {
  display: flex;
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  margin-block-end: .25em;
  margin-block-start: .25em;
}

a {
  color: #000066;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

a:visited {
  color: #000066
}

a:hover {
  color: #66FF33
}
