@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.round-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
  padding: 1em;
  padding-bottom: 2ex;
}

#one, #three {
  color: #000066;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Times New Roman';
  padding-left: auto;
  padding-right: auto;
  margin-top: auto;
  border: lightcoral 1px dotted;
  animation: rotatelogo infinite 20s linear;
}
@keyframes rotatelogo{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

#two {
  color: #000066;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Times New Roman';
  padding-left: auto;
  padding-right: auto;
  margin-top: auto;
  border: lightcoral 1px dotted;
  animation: rotatelogomiddle infinite 20s linear;
}


@keyframes rotatelogomiddle{
  from{ transform: rotate(360deg); }
  to{ transform: rotate(0deg); }
}

#round:hover {
  color: #66FF33;
}

a {
  font-size: 20px;
}

