@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

#round-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
  padding: 1em;
  padding-bottom: 2ex;
}

#round {
  color: #000066;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Manrope', 'sans-serif';
  padding-left: auto;
  padding-right: auto;
  margin-top: auto;
  animation: rotatelogo infinite 20s linear;
  border: lightcoral 1px dotted;
}

@keyframes rotatelogo{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

#round:hover {
  color: #66FF33;
}

#take-action {
  padding: 6ex;
  z-index: 2;
}

a {
  font-size: 20px;
}

