@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope', 'sans-serif';
  padding-left: 5%;
  flex-wrap: wrap;
}

.navigation-sub {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
}

.item {
  font-family: 'Manrope', 'sans-serif';
  font-weight: 600;
  padding: 8%;
}
