@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.navigation {
  display: flex;
  width: auto;
  height: 125%;
  justify-content: space-between;
  font-family: 'Manrope', 'sans-serif';
  font-size: 150%;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: outset;
  border-left: outset;
  border-width: 20px;
  border-color: #66FF33;
}



.menu-wrap {
  position: fixed;
  top: 25px;
  right: -50px;
}

.menu-wrap .toggler {
  position: absolute;
  top: 20px;
  right: 80px;
  padding: 2.5rem;
  cursor: pointer;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 25px;
  right: 80px;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #66FF33;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;

}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 5px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}
/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* show menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
}

.menu-wrap .menu {
  position: fixed;
  top: 100px;
  right: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 15px;
  font-weight: bold;
  visibility: hidden;
}
.menu-wrap .menu > div {
  transform: scale(0);
}

.menu-wrap .menu > div > div > ul {
 list-style-type: none;
 text-align: right;
}

.menu-wrap .menu > div > div > ul > li {
  font-size: 1.25rem;
  padding: 1rem;
 }


.menu-wrap .menu > div > div > ul > li > a {
  transition: color 0.4s ease;
  /* background-color: #CCFFFF; */
  background-color: white;

}


.navigation h1 {
  color: #000066;
}

.navigation a:link {
  color: #000066;
  text-decoration: none;
}
.navigation a:visited {
  color: #000066;
}

.navigation a:hover {
  color: #66FF33;
}

.navigation-sub {
  display: flex;
  width: auto;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 2%;
}

.item {
  font-family: 'Manrope', 'sans-serif';
  font-size: 100%;
  font-weight: 600;
  padding: 8%;
}
