@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope', 'sans-serif';
  font-size: 125%;
  padding-left: 5%;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: baseline;
}

.navigation-sub {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

.item {
  font-family: 'Manrope', 'sans-serif';
  font-size: 100%;
  font-weight: 600;
  padding: 8%;
}
