@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.container {
  width: 100%;
  display: flex;
  font-family: 'Manrope', 'sans-serif';
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 25%;
  margin-bottom: -70px;
  flex-wrap: wrap;
  flex-direction: column;
  color: #000066;
}

.projects {
  display: flex;
  flex: 1;
  padding-left: 2rem;
  text-align: left;
  flex-direction: column;
}

.experience {
  flex: 1;
  padding: 1rem;
}

/*

@media screen and (max-width: 768px) {
  .aboutcontainer {
    flex-direction: column;
  }
} */
