@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');

.container-personal {
  width: 90%;
  margin: auto;
  display: flex;
  font-family: 'Manrope', 'sans-serif';
  padding-bottom: 25%;
  margin-bottom: -70px;
  flex-wrap: wrap;
  flex-direction: column;
  color: #000066;
  justify-content: center;
}

.box {
  width: 90%;
  display: flex;
  flex: 1;
  padding: 2em;
  padding-bottom: 3em;
  justify-content: center;
  flex-direction: column;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: #66FF33;
  /* outline-style: dotted;
  outline-color: #66FF33;
  outline-width: 3px;
  */
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .left a {
  color:#66FF33;
  text-shadow: 1px 1px #000066;
}

.box2 {
  padding: 1em;
  padding-bottom: 3em;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: #66FF33;
  /* outline-style: dotted;
  outline-color: #66FF33;
  outline-width: 3px; */
}

.box2 h2 {
  width: 90%;
  text-align: center;
}

.box2 p {
  padding-left: 60px;
  padding-right: 60px;
}

.box2 a {
  color:#66FF33;
  text-shadow: 1px 1px #000066;
}

@media screen and (max-width: 768px) {
  .middle {
    flex-direction: column;
  }
}

.mix-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}


.carousel-container {
  width: 90%;
  margin:auto;
  /* overflow: hidden; */
  border: 5px solid black;
}

.carousel-slide{
  display: flex;
  width: 100%;
}

.carousel-slide img {
  display: flex;
  max-width:100%;
  max-height:100%;
}
